<div class="position-relative js-header-wrapper ">
  <a href="#start-of-content" tabindex="1" class="px-2 py-4 bg-blue text-white show-on-focus js-skip-to-content">Skip to content</a>
  <div id="js-pjax-loader-bar" class="pjax-loader-bar">
    <div class="progress"></div>
  </div>

  <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
    <div class="container clearfix width-full text-center">
      <a class="header-logo" href="https://github.com/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
        <svg height="48" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="48" aria-hidden="true">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </a>
    </div>
  </div>


</div>
<div class="auth-form px-3">
  <form [formGroup]="loginForm">
    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kUMItZIrmRgTlqkZcHS4IoHrABPmEYo9BUgcW0Rz6xDqLHm1GgGJdv9tyfTLnVgxMQ6E2XnpO3lgxXUUiIYM7g==">
    <div class="auth-form-header p-0">
      <h1>Sign in to GitHub</h1>
    </div>

    <div class="auth-form-body mt-3">
      <div class="form-group">
        <label class="control-label" for="login_field">
    Username or email address
  </label>
        <input type="text" name="login" id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off"
          autofocus="autofocus">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">
    Password <a class="label-link" href="/password_reset">Forgot password?</a>
  </label>
        <input type="password" name="password" id="password" class="form-control form-control input-block" tabindex="2">

        <input type="submit" name="commit" value="Sign in" tabindex="3" class="btn btn-primary btn-block" data-disable-with="Signing in…">
      </div>
    </div>
  </form>
  <p class="create-account-callout mt-3">
    New to GitHub?
    <a data-ga-click="Sign in, switch to sign up" href="/join?source=login">Create an account</a>.
  </p>
</div>

<div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">
  <ul class="list-style-none d-flex flex-justify-center">
      <li class="mr-3"><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
      <li class="mr-3"><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
      <li class="mr-3"><a href="https://help.github.com/articles/github-security/" data-ga-click="Footer, go to security, text:security">Security</a></li>
      <li><a class="link-gray" data-ga-click="Footer, go to contact, text:contact" href="https://github.com/contact">Contact GitHub</a></li>
  </ul>
</div>
