
.position-relative
{
    position: relative !important
}
.Header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}
.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
@media (min-width: 1012px){
.d-lg-flex {
    display: flex !important;
}
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1012px){
.page-responsive .HeaderMenu {
    display: block;
    clear: none;
}
}
.flex-auto {
    flex: 1 1 auto !important;
}
.flex-justify-between {
    justify-content: space-between !important;
}
.mt-3 {
    margin-top: 16px !important;
}
.HeaderMenu--bright .HeaderNavlink {
    color: #fff;
}
.page-responsive .HeaderNavlink {
    border-top: 1px solid #444d56;
}
.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.py-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.flex-items-center {
    align-items: center !important;
}
.py-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.text-gray {
    color: #586069 !important;
}.bg-gray-light {
    background-color: #fafbfc !important;
}

.rounded-1 {
    border-radius: 3px !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}@media (min-width: 1012px){
.px-lg-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}}
@media (min-width: 768px){
.gutter-md-spacious {
    margin-right: -24px;
    margin-left: -24px;
}}
@media (min-width: 768px){
.d-md-flex {
    display: flex !important;
}}
@media (min-width: 1280px){
.py-xl-12 {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}}
@media (min-width: 1012px){
.py-lg-10 {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
}}
@media (min-width: 544px){
.py-sm-8 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}}
@media (min-width: 1012px){
.d-lg-inline-block {
    display: inline-block !important;
}
}
@media (min-width: 1012px){
.py-lg-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
}
@media (min-width: 1012px){
.mt-lg-0 {
    margin-top: 0 !important;
}
}
@media (min-width: 1012px){
.d-lg-flex {
    display: flex !important;
}
}
@media (min-width: 1012px){
.ml-lg-2 {
    margin-left: 8px !important;
}
}
@media (min-width: 1012px){
.ml-lg-4 {
    margin-left: 24px !important;
}
}
@media (min-width: 1012px){
.page-responsive .HeaderNavlink {
    border-top: 0;
}}
