/* import other css */


a{
    background-color:transparent;
    color:#1e6bb8;
    text-decoration:none
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}

h1{
    font-size:2em;
    margin:.67em 0
}

small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}

img{
    border:0
}

hr{
    box-sizing:content-box;
    height:0
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}

table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
*{
    box-sizing:border-box
}
body{
    padding:0;
    margin:0;
    color: #24292e;
    line-height: 1.5;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;    
    background-color: #fff;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-color: #f9f9f9;
   
}

a:hover{
    text-decoration:underline
}

.with-source{
    position:relative
}
.with-source a.source{
    position:absolute;
    right:0;
    font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:.875rem
}
div.with-source a.source{
    top:-40px
}
input.search{
    margin-bottom:20px;
    line-height:normal;
    padding:.375rem .75rem
}
span.highlight{
    background:rgba(0,0,0,.05);
    padding:0 .25rem;
    border-radius:.125rem;
    color:#1e6bb8
}
.btn+.btn{
    margin-left:1rem
}
.btn.active,.btn:hover{
    color:hsla(0,0%,100%,.8);
    text-decoration:none;
    background-color:hsla(0,0%,100%,.2);
    border-color:hsla(0,0%,100%,.3)
}
.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.list-style-none {
    list-style: none !important;
}
.d-flex {
    display: flex !important;
}
.flex-items-center {
    align-items: center !important;
}
.flex-justify-between {
    justify-content: space-between !important;
}
.header-logo-invertocat {
    margin: -1px 15px -1px -2px;
    color: #fff;
    white-space: nowrap;
}
.header-logo-invertocat .octicon-mark-github {
    float: left;
}
svg:not(:root) {
    overflow: hidden;
}
.octicon {
    vertical-align: text-bottom;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.mt-1 {
    margin-top: 4px !important;
}
.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #0366d6;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
.no-underline {
    text-decoration: none !important;
}

.text-bold {
    font-weight: 600 !important;
}
.text-white {
    color: #fff !important;
}
.text-gray {
    color: #586069 !important;
}
@media (min-width: 768px){
.f4 {
    font-size: 16px !important;
}
}
@media (min-width: 1012px){
    .d-lg-none {
        display: none !important;
    }
    }
@media (min-width: 1012px){
.d-lg-flex {
    display: flex !important;
}
}
@media (min-width: 1012px){
.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
}

@media screen and (min-width:64em){
    .btn{
        padding:.75rem 1rem
    }
}
@media screen and (min-width:42em) and (max-width:64em){
    .btn{
        padding:.6rem .9rem;
        font-size:.9rem
    }
}

